<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Customer Name</th>
      <th>Address</th>
      <th>PhoneNumber</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let customer of customer">
      <td>
      <a [routerLink] ="['/customer/view/',customer.id]">{{customer.name}}</a>
      </td>
      <td>
        {{customer.address}}
      </td>
      <td>
        {{customer.phoneNumber}}
      </td>
      <td>
        <a [routerLink] ="['/customer/delete/',customer.id]">Delete</a>
      </td>
    </tr>
  </table>
  <a class="btn btn=primary"  routerLink="">Register a Customer</a>
</div>